<div>

  <h1>#{main_title}</h1>
  <h2>#{main_subtitle}</h2>

  <div align=center>
    <a base target="_parent" href="https://github.com/Alexander-Hjelm">
      <img src="img/github-logo.png"/>
    </a>
    <a base target="_parent" href="mailto:alexander-hjelm@tutanota.com">
      <img src="img/mail-logo.png"/>
    </a>
    <a base target="_parent" href="https://www.linkedin.com/in/alexander-hjelm-9a506875">
      <img src="img/linkedin-logo.png"/>
    </a>
  </div>

  <ul>
   <li><a base target="_parent" href="index.html">Games</a></li>
   <li><a base target="_parent" href="https://nextcloud.groove.cool/s/YW2jmG6aBNYqaDm">CV</a></li>
  </ul>

</div>
