body, html {
  overflow: visible;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  color: Red;
  text-align: left;
}

hr {
  color: Red;
  text-align: center;
}

p, blockquote {
  color: White;
}

li {
  color: White;
}

a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}
