body, html {
    background-image: linear-gradient(to left, Black 0%, DarkSlateGray 15%, DarkSlateGray 85%, Black 100%);
    padding: 0;
    margin: 0;
    overflow: visible;
    height: 100%;
}

div {
  overflow: visible;
  height: 100%;
}

iframe {
  overflow: visible;
}

.bg_left {
  height: 100px;
}

.bg_right {
  height: 100px;
}
